.mack-header{
	font-family: 'Montserrat', sans-serif;;
	font-weight: 800;
	font-size: 42px;
	color: #152020!important;
	line-height: 1.4em;	
}

.banner-text, .story-text{
	color: #141D1D;
	font-weight: 500;
	padding-bottom: 0;
	font-family: 'Montserrat',sans-serif !important;		
}

.banner-text{
	/*text-align: left;*/
	line-height: 1.8em;
	font-size: 21px;	
}

.story-text{
	line-height: 1.75em;
	font-size: 21px;	
}

.benefits-texts{
	color: #141D1D;
	font-weight: 500;
	padding-bottom: 0;
	font-family: 'Montserrat',sans-serif !important;
	line-height: 1.75em;
	font-size: 18px;
}

.what-we-do-texts{
	color: #141D1D;
	font-weight: 500;
	padding-bottom: 0;
	font-family: 'Montserrat',sans-serif !important;
	line-height: 1.75em;
	font-size: 21px;
}

@media (min-width: 800px) {
	.benefits-texts {
		font-size: 16px;
	} 
}

.spam-warning-text, .exit-intent-spam-warning-text{
	font-size: 15px;
	font-weight: normal;
	font-family: 'Montserrat',sans-serif !important;
}

.exit-intent-spam-warning-text{
	color: #fff;
}

.stakes-text{
	line-height: 1.75em;
	font-size: 24px;
	color: #141D1D;
	font-family: 'Montserrat',sans-serif;
	font-weight: 500;
	padding-bottom: 0;		
}


.thank-you-text{
	line-height: 1.75em;
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size: 21px;
	line-height: 1.5em;
	color: #ffffff !important;
}

.btn-our-story{
	border-width: 10px !important;
	border-color: rgba(0,0,0,0);
	font-size: 18px;
	font-family: 'Montserrat',sans-serif !important;
	font-weight: 700 !important;
	background-color: #0ca750;
	color: #fff;
}

.btn-sign-up, .btn-navbar-sign-up{
	border-width: 10px !important;
	border-color: rgba(0,0,0,0);
	font-size: 18px;
	font-family: 'Montserrat',sans-serif !important;
	font-weight: 700 !important;
	border-radius: 25px;
	background-color: #3C5B97 !important;
	color: #fff;	
}

.btn-navbar-sign-up{
	border-width: 2px !important;
	border-color: rgba(0,0,0,0);
	font-size: 14px;
	font-family: 'Montserrat',sans-serif !important;
	font-weight: 700 !important;
	border-radius: 15px;
	background-color: #fff !important;
	color: #0ca750;
}

.btn-navbar-restaurant-sign-up{
	border-width: 2px !important;
	border-color: rgba(0,0,0,0);
	font-size: 14px;
	font-family: 'Montserrat',sans-serif !important;
	font-weight: 700 !important;
	border-radius: 15px;
	background-color: #3C5B97 !important;
	color: #fff;
}

.btn.btn-our-story.btn-md:hover, .btn.btn-sign-up.btn-md:hover{
	color: #000000;
	background-color: #0ca750;
	color: #fff;
	text-decoration: underline;
	text-decoration-color: #fff;
}

.btn-our-story{
	border-radius: 100px;
}

.btn-new-sign-up{
	border-width: 10px !important;
	border-color: rgba(0,0,0,0);
	font-size: 18px;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 700 !important;
	background-color: #fff;
	color: #6F8A3C;
	border-radius: 100px;
}

.btn.btn-new-sign-up.btn-md:hover{
	color: #fff;
	background-color: #fb2727 !important;
}

.cta-sign-up{
	border-width: 10px !important;
	border-color: rgba(0,0,0,0);
	font-size: 18px;
	font-family: 'Montserrat',sans-serif ;
	font-weight: 700 !important;
	background-color: #ebebeb;
	color: #48494d;
}

.btn.cta-sign-up:hover{
	color: #000000;
	background-color: #6F8A2F;
}

.cta-sign-up{
	border-radius: 100px;
}

blockquote{
	quotes: none;	
	margin: 20px 0 30px;
	border-left: 5px solid;
	border-left-color: currentcolor;
	padding-left: 20px;		
	font-family: 'Montserrat',sans-serif ;
	border-color: #0ca750;
	color: #0ca750 !important;
}

.our-story{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #0ca750 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	margin-left: 15px;
}

.benefits-headings{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #0ca750 !important;
    line-height: 1.5em;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}



.headlinestakes{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: #162020 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.mission{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: #0ca750 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.stakes-number{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #152020 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}


h2.why-us{
	font-family: 'Merriweather',Georgia,"Times New Roman",serif;
    font-weight: 500;
    font-size: 36px;
    color: #0ca750 !important;
    line-height: 1em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

h2.share-header{
	font-family: 'Merriweather',Georgia,"Times New Roman",serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

h2.thank-you-header{
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
	font-weight: 700;
	font-size: 42px;
	color: #ffffff !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	text-align: center;
}

h2.tag-header{
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
	font-weight: 600;
	font-size: 36px;
	color: #000000!important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	text-align: center;
}

.story-spacing{
	padding-top: 4%;
}

.thank-you-section{
	padding-top: 4%;
	padding-bottom: 2.5%;
}

.bottom-section{
    padding-top: 20%;
}

.problem_solve-section{
	background-color: #ffffff!important;
}

.save-time, .quick-delivery, .safe-delivery, .more-family-time, .track-delivery, .customised-exp{
	color: white!important;	
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;	
	line-height: 1.75em;
	margin: 3px;
	
}




.free-delivery{	
	background-color: #240087;
	border-radius: 6px 6px 6px 6px;	
}

.save-time{
	background-color: rgba(224,153,0,0.8);
	border-radius: 6px 6px 6px 6px;
}

.quick-delivery{
	background-color: #e09900;
	border-radius: 6px 6px 6px 6px;
}

.safe-delivery{
	background-color: #0073c4;
	border-radius: 6px 6px 6px 6px;	
}

.more-family-time{
	background-color: #091b98;
	border-radius: 6px 6px 6px 6px;
}

.track-delivery{
	background-color: #e41f45;
	border-radius: 6px 6px 6px 6px;
}

.customised-exp{
	background-color: #008724;
	border-radius: 6px 6px 6px 6px;
}

.white-text{
	color: white!important;
}

.icon-font{
	font-size: 60px;
	color: #0ca750 !important;
	margin-left: 15px;
}

.benefits-icon-font{
	color: #0ca750 !important;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
	flex-grow: 1;
}

.signup-success-response{
	color: #b78ad8;
	font-size: 16px;
}

.cta-conditions{
	font-size: 16px;
	font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: #050409 !important;
    line-height: 1.4em;	
}

.signup-error-response{
	color: red;
	font-size: 16px;
}

/*Accordion header*/

.faqaccordion {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.4em;
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-radius: 10px 10px 10px 10px;
  font-weight: 500;
}

.faqaccordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faqaccordion.active:after {
  content: "\2212";  
}

.faqpanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-text{
	color: #666;
	font-family: 'Montserrat',sans-serif;
	font-weight: 500;
	padding-bottom: 0;
	line-height: 1.75em;
	font-size: 18px;
	text-align: left;			
}


.card-body .fav-box{left: 50px; top: 65px; position:absolute; color:#ffffff;}

.card .fav-box{left: 50px; top: 65px; position:absolute; color:#ffffff;}

.text-body{ border-left:0;}

.text-body .text-body-heading{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}

h3.benefit{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff!important;
    line-height: 1.5em;
    padding-bottom: 7px;
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
	border: 0;
	outline: 0;
	background: transparent;
}

.benefit-text{
	color: #ffffff!important;
	font-family: 'Montserrat',sans-serif;;
	font-weight: 500;
	padding-bottom: 0;	
	line-height: 1.75em;
	font-size: 20px;
	padding-left: 15px;
	text-align: left;		
}

.modal-circle{
    width: 75%;
    heigth:50%;
    border: 0px solid white;
    border-radius: 20px;
    padding: 5px;
    margin:auto;
}

.privacy-tnc{
	margin-top: 5%;
	padding-top: 10%;	
	padding-bottom: 5%;
}
	
@media (max-width: 576px) {
	.privacy-tnc {
		margin-top: 22%;
		padding-top: 22%;
	} 
}

.subscribe-controls {
display: block;
width: 100%;
padding: 0.75rem 1.5rem;
border-radius: 6px !important;
height: 50.5px !important;
line-height: 1.7em;
font-family: Open Sans,Arial,sans-serif;
font-weight: 500
font-size: 18px !important;
color: #666;
background-color: #ffffff;
background-clip: padding-box;
border: 1px solid #9ea5ac;
padding-right: 10px !important;
padding-left: 10px !important;
outline: currentcolor none 0px !important;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.subscribesection{
	padding-top: 94px;
    padding-bottom: 94px;
    background-color: #a7c778 !important;
}

.card .want-box{
	color: #ffffff;
	background-color: #0ca750;
	height: 82px;
	width: 82px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 50%;
	padding-top: 15px;
	position: relative;
	margin: 1rem;
}

.why-mackzan-label{
	color: #141D1D;
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
	padding-bottom: 0;
	line-height: 1.8em;
	font-size: 23px;	
}

.bordercard{
	border: 3px solid rgba(0, 0, 0, 0.125);
}

.stats-label{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fb2727 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.source{
	color: #2f2b2b !important;
	font-weight: 500;
	font-family: 'Merriweather',Georgia,"Times New Roman",serif;
}

.stake-source{
	color: grey !important;
	font-weight: 500;
	padding-bottom: 0;
	font-family: 'Montserrat',sans-serif !important;
	line-height: 1.75em;
	font-size: 15px;
}

.list-display li {
  margin-bottom:.4rem;
  font-size:1.1rem;
}

.list-checkmarks li {
  list-style-type:none;
}
.list-checkmarks li:before {    
font-family: 'Font Awesome\ 5 Free';
content: "\f058";
margin:0 10px 0 -28px;
color: #17aa1c;
}

.what-we-do{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff!important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

u {
	/*color: #fb2727 !important;*/
	color: #fff;
	position: relative;
	padding: 15px 0px;
	text-decoration: none;
	display: inline-block;
	line-height: 0.85;	
}

u::before {    
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	transform: scaleX(0);
	border-bottom: 8px solid #0404ff;
	transition: all 0.3s ease-in-out 0s;
}

u:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*  Tablet PRO styling */
@media (max-width: 1024px) {
  .container-fluid {
    width: inherit;
  }
  .px-7{
  	padding-left: 1rem !important;
  	padding-right: 1rem !important;
  }
}


/*  Tablet kindle styling */
@media (max-width: 800px) {
  .container-fluid {
    width: inherit;
  }
  .px-7{
  	padding-left: 1rem !important;
  	padding-right: 1rem !important;
  }
}

/*  All mobiles styling */
@media (max-width: 544px) {  
  .container-fluid {
    width: inherit;
  }
  .px-7{
  	padding-left: 1rem !important;
  	padding-right: 1rem !important;
  }
  .pt-8{
  	padding-top: 7rem !important;
  }
  .pt-6{
  	padding-top: 3rem !important;
  }
  .py-5{
  	padding-top: 1rem !important;
  	padding-bottom: 1rem !important;
  }
  .mack-header{
  	font-size: 35px;
  }
  .banner-text{
  	font-size: 16px;
  }
  .headlinestakes{
    font-size: 35px;
  }
  .mission{
    font-size: 35px;
  }
  .what-we-do{
    font-size: 35px;
  }
  .stakes-number{
    font-size: 34px;
  }
  .stats-label{
    font-size: 22px;
  }
  .stakes-text{
	font-size: 16px;
  }
  .our-story{
    font-size: 21px;
  }
  .story-text {
    font-size: 16px;
  }
  .faqaccordion {
	font-size: 16px;
  }
  .faq-text{
  	font-size: 16px;
  }
}

a#video{
	box-shadow: inset 0 -3px 0 0 #ffffff;
}

/*text-decoration-line: underline;*/

span.stake-header-underline{
	text-decoration-line: underline;
	text-decoration-color: darkgreen;
 	text-decoration-thickness: 3px;
}

u.stake-header-underline{
	 border-bottom: 10px solid black;
}

.thank-you-text > a{
	color: yellow;
	box-shadow: inset 0 -3px 0 0 white;
	transition: all .25s ease-out;
}

.thank-you-text > a:hover {
    color: gold;
    text-decoration: none;
}

/*Trying sprout social way*/
/*
.underline-grow{
	will-change: transform;
    position: absolute;
    bottom: -.1em;
    left: 0;
    width: 100%;
    height: .15em;
    transform: scaleX(0);
    transform-origin: 0;
}

.bg--purple-700 {
    background-color: #6f5ed3;
}*/

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



p.myp-slider.text-center {
    color: #fff;
}


p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}

.subscribe-text-background{
	background-color: #a4d263 !important;
}


h2.error-page-header{
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
	font-weight: 700;
	font-size: 42px;
	color: #0ca750 !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	text-align: center;
}

/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
  background-color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: black;
}

.nav-pills .pill-1 .nav-link {
    background-color: #0ca750;
    color: white;
    border-bottom: 2px solid green;
	font-family: 'Montserrat',sans-serif;
	font-weight: 700;
	font-size: 21px;
}

.bg-custom-green {
    background: linear-gradient(135deg, #4B0082, #800080);
}

.navbar-light .navbar-nav .nav-link {
  color: white; 
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  line-height: 1.5em;
}
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #EE82EE; }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: white; }   

.nav-item
{
	padding-top: 8px;
	padding-bottom: 8px;

}



@font-face 
{ 
	font-family: 'Rubik'; 
	src: url('../fonts/Rubik-Regular.woff2') format('woff2'), 
	url('../fonts/Rubik-Regular.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal; 
} 

body { 
	font-family: 'Rubik', 
	sans-serif;
	background-color:#1d1d1d !important;
}

.mack-header{
	font-family: 'Rubik', sans-serif;;
	font-weight: 800;
	font-size: 42px;
	color: #152020!important;
	line-height: 1.4em;	
}

.banner-text, .story-text{
	color: #141D1D;
	font-weight: 500;
	padding-bottom: 0;
	font-family: 'Rubik',sans-serif !important;		
}

.banner-text{
	/*text-align: left;*/
	line-height: 1.8em;
	font-size: 21px;
	color: #ffffff;	
}

.story-text{
	line-height: 1.75em;
	font-size: 21px;	
}

.mission{
    font-family: 'Rubik',sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.subscribe-text-background{
	background-color: #3d3849 !important;
	font-family: 'Rubik' sans-serif;
}

.btn-sign-up-daxedax{
	border-width: 10px !important;
	border-color: rgba(0,0,0,0);
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	font-weight: 700 !important;
	border-radius: 25px;
	background: #4B0082;
	color: #fff;	
}
