*.pyc

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
.project
staticfiles/
*.pyc
*.pydevproject
*.settings
.idea/*
venv/*
venv37/*
venv-old/*