{% load static%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Daxedax | The world's first magical shopping solution, making online shopping magical</title>
    {% include 'landing_page_head.html' %}
    {% include 'image_lazy_load_script.html' %}

    {% include 'new_google_analytics_script.html' %}
    <style>
    header.masthead {
    position: relative;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-top: 9rem;
      padding-bottom: 2rem;
  }
  header.masthead .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}
  @media (max-width:544px) {
    header.masthead {
        padding-top: 10rem;
        padding-bottom: 4rem;
    }
    header.masthead h3 {
        font-size: 4rem;
    }
  }
  </style>
  </head>
  <body>
  {% include 'landing_page_navigation.html' %}


    <section class="pt-8" id="home-old">
           <div class="container-fluid px-7 mid-container">
               <div class="row">
                  <div class="col-lg-6 mx-auto my-auto text-left">
                      <h1 style="color: #ffffff;">The world's first magical shopping solution</h1>
                      <p class="lead mt-4 mb-5" style="color: #ffffff;">
                        DaxeDax is like having a digital Santa that makes shopping magical, delightful and connected.<br><b>You don't need to do so much shopping anymore, just relax!</b><br><br>With DaxeDax, all your shopping activities are made effortless and simple, saving you time and energy.
                      </p>                      
                      <div class="top-btn-block wow fadeInUp" data-wow-duration="2.5s">
                       <a href="#signup" class="btn btn-sign-up-daxedax btn-md">Join our VIP list</a>
                      </div>
                  </div>
                  <div class="col-lg-6 mx-auto my-auto text-center order-first order-lg-2">
                      <p>                                    
                        <img src="{% static 'img/real-santa-first-fold-min.png' %}" class="img-fluid rounded" alt="Shopping Cart with grocery items being fulfilled" />
                      </p>
                  </div>
               </div>
           </div>
       </section> 


       <section class="pt-8 px-5" id="home">
             <div class="container-fluid px-7 mid-container">
                 <div class="row">
                    <div class="col-lg-12 mx-auto my-auto text-left">
                        <h2 class="mission text-center">Our Manifesto</h2>
                        <p class="banner-text" style="padding-top: 4%;">
							               As a child in a small Mumbai suburb, Dax was captivated by kites their freedom, their dance in the sky. But with little pocket money, buying them was a challenge. 
                        </p>

  					           <p class="banner-text">
                        His parents gave him a few rupees only when he ran errands, which sparked an idea: if errands got him kites, why not run them for the whole neighborhood?
  					           </p>

					             <p class="banner-text">
							           So, he knocked on doors, offering to fetch groceries and help with small tasks. What started as a way to earn kite money quickly became something more. Dax began to understand people's needs before they voiced them their preferred rice brands, when essentials ran low, even the exact day they'd need a refill. <b><i>He became the invisible helper who kept households running smoothly</i></b>.
					             </p>

                       <p class="banner-text">
                        That spark never left him. What began as simple errands turned into a deeper joy: the thrill of anticipating, surprising, and delighting others. It reminded him of someone he admired as a child: <b><i>Santa Claus</i></b>.
                       </p>

                       <p class="banner-text">
                        <b>To Dax, Santa wasn't just a man in a red suit, but the ultimate symbol of thoughtful giving; the kind that comes from truly knowing someone's wishes before they are even spoken.</b> Every Christmas season, Dax would often dress up as Santa, not just to hand out gifts, but to <b><i>recreate that magical feeling of connection, surprise and delight for people around him</i></b>.
                       </p>                                                                 
					       
                      <p class="banner-text">
                        Years later, after moving to New Zealand, that feeling never left him. What if this kind of connection, trust, and ability to magically predict needs like Santa could be scaled to help shoppers everywhere?
					            </p>


                       <p class="banner-text">
                        Today, online shopping is cold, impersonal, solitary experience, and is often overwhelming. Rising costs and endless options add to the frustration.<br/>
                        If this continues, billions of online shoppers worldwide would continue to feel disconnected, unsupported and frustrated.
                       </p>

                        <p class="banner-text">
                          Shopping experiences need joy, connection, community and a soul. Shoppers need a friend like Dax or Santa who can remind them about kindness, the spirit of giving and keeping people first during tough times.
                        </p>                      
					    
                      <h3 class="" style="padding-top:5%; padding-bottom:3.5%; color:#ffffff;">What if every shopper in the world could have a Santa in their pocket?</h3>

					           <p class="banner-text" style="padding-bottom:5%;">
							         That's why Dax and the Mackzan team are building <b><i>Daxedax</i></b>. Daxedax is the world's first magical shopping solution where you can shop for anything like magic.<br/><br/>
                       The solution is like having a digital Santa that makes shopping magical, simple and joyful. But unlike the real Santa who turns up once a year, Daxedax shows up exactly when you need him, readily bringing you the right products at the right time, just like magic!!!<br><br>
                       <b><i>Daxedax's vision is to empower every shopper in the world to shop anything.</i></b>
					           </p>

                     <p class="banner-text" style="padding-bottom:5%;">
                       <b><i>Join us at Daxedax to make shopping effortlessly intelligent, and deeply personal for everyone, everywhere.</i></b>
                     </p>
					</div>
					<div class="row">
						<div class="col-lg-12 mx-auto my-auto text-left">

						</div>
					</div>                    
                 </div>
                 <div id="signup"></div>
             </div>
       </section>            

   
       {% include 'sign_up.html' %}

       {% include 'landing_page_footer.html' %}

        <script src="{% static 'js/addtoany-menu-page.js' %}"></script>


        <script src="{% static 'js/feather.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        <script src="{% static 'js/landing_page_ending_js_scripts.js' %}"></script>


    </body>
</html>