{% load static %}
    <!-- Masthead Subscription Form -->
    <section class="masthead">
        <div class="container-fluid pt-6 px-7 subscribe-text-background">
            <div class="row display-flex justify-content-md-center">
                <div class="col-md-5">
                    <h3 style="color: #ffffff;">Join us to grow your ecommerce business & revolutionize your shopping exprience</h3>
                </div>
            </div>
            <div class="row display-flex justify-content-md-center">
                <div class="col-md-5 text-center">
                    <form id="business-signup-form" class="signup-form">
                        {% csrf_token %}
                        <div class="form-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_business_name" name="business_name" placeholder="Business Name" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_business_email" name="business_email" placeholder="Business Email" type="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_contact_number" name="contact_number" placeholder="Contact Number" type="tel" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_contact_person_name" name="contact_person_name" placeholder="Contact Person Name" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_job_title" name="job_title" placeholder="Job Title" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="subscribe-controls" id="id_company_website" name="company_website" placeholder="Company Website" type="url" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group text-left">
                                    <div class="checkbox-wrapper" style="margin-bottom: 15px;">
                                        <input type="checkbox" id="id_email_updates" name="email_updates" value="1" checked style="margin-right: 8px;">
                                        <label for="id_email_updates" style="color: #ffffff; font-size: 12px; font-weight: normal; cursor: pointer;">Get emails from AFCP about product updates, industry news, reports and events.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-sign-up-daxedax btn-block" type="submit">Sign up</button>
                                    <p class="signup-success-response"></p>
                                    <p class="signup-error-response"></p>
                                </div>
                            </div>
                            <p class="lead mb-5 source spam-warning-text">
                                <span class="spam-warning-text" style="color: #ffffff;">(Be on the lookout for updates! We promise not to spam you)</span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>