
        <!--footer / contact-->
        <footer id="contact-footer" class="py-6 bg-light" style="background-color: #2A2A2A !important; padding-top: 2rem !important; padding-bottom: 2rem !important;">
            <div class="container">
                <div class="row mt-5">             
                    <div class="col-6 text-muted text-left small-xl" style="color: #ffffff;">
                        &copy; 2025 Dundeal Ltd - All Rights Reserved
                    </div>
                    <div class="col-6 text-right small-xl" style="color:#ffffff;">
                        <a href="mailto:arthur.lewis@mackzan.com" style="color: #ffffff;">Email us</a></li>
                    </div>                    
                </div>
            </div>
        </footer>