{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
<meta name="title" content="AFCP - Agent-first Commerce Platform">
<meta name="description" content="Discover AFCP, the world's first Agent-first commerce platform for businesses & consumers. Our AI empowers businesses and shoppers to shop effortlessly">

<link rel="canonical" href="{% url 'landing_page:landing_page' %}" />

<link rel="shortcut icon" type="image/png" href="{% static 'img/daxedax-favicon.png' %}" sizes="192x192" alt="Mackzan favicon"/>

<link href="{% static 'font-awesome/css/material-icons-family.css' %}" rel="stylesheet">

<!-- Bootstrap CSS / Color Scheme -->
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/exit_intent_modal.css' %}">
<link rel="stylesheet" href="{% static 'css/sustainability-banner.css' %}">

<!-- <link rel="stylesheet" href="{% static 'css/animate.css' %}"> -->
<!-- <link rel="stylesheet" href="https://ressio.github.io/lazy-load-xt/libs/animatecss/animate.css"> -->

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>




<script src="{% static 'js/jquery.lazyloadxt.js' %}"></script>
<!-- <script src="https://ressio.github.io/lazy-load-xt/dist/jquery.lazyloadxt.js"></script> -->

<link rel="stylesheet" type="text/css" href="{% static 'css/cookieconsent.min.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" /> -->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<!--
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
-->

<link rel="stylesheet" type="text/css" href="{% static 'css/social-icons.css' %}" />


